<div class="fixed-bottom">
    <footer>
      <ul class="nav justify-content-center border-dark border-2 border-bottom pb-2 mb-3">
      </ul>
     <strong><p class="text-center  text-black">© 2023 AGROINDUSTRIAS DIADEMA ZONA FRANCA HONDURAS S.A</p></strong>
      <strong><p class="text-center  text-black">ICT</p></strong>
    </footer>
</div>
